body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

ul{
  list-style: None;
}

a{
  text-decoration: None;
  color: #F9FAF8;
}

a:hover{
  color: #FFD700	;
}

.header{
  margin: 0;
  padding: 10px 20px;

  background: #d0021b;
  box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.2);

  display: flex;
}

  img.header_logo{
    width: 50px;
    height: 50px;
  }

  .header_links{
    display: flex;
    gap: 20px;
    
    margin-left: auto;
    font-weight: 600;
  }

.intro{
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 30px;

  padding: 50px;
}

  .team_pic{
    width: 500px;
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.2);
  }

  .intro_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    padding: 0px;
    max-width: 500px;
  }

    .intro_title{
      font-size: 42px;
      font-weight: 700;
    }

    .intro_context{
      font-size: 18px;
    }

    .intro_button{
      background: #d0021b;
      max-width: 150px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;

      cursor: pointer;

      color: white;
      font-size: 16px;
      font-weight: 900;
    }

    .intro_button:hover{
      background: white;
      color: #d0021b;
      border: 1px solid #d0021b;
    }

.card_content{
  background: #d0021b;
  color: white;
  text-align: center;
  padding: 30px;

  box-shadow: inset 0px 15px 12px 0 rgba(0, 0, 0, 0.2);

}

  .card_content .title{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .card_content .container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  .card_content .item{
    flex: auto;
    max-width: 250px;
  }

  .card_content .item img{
    max-width: 250px;
    max-height: 188px;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.2);
  }

  .card_content .item .info{
    font-size: 20px;
    font-weight: 500;
  }



